// 变量
$mainColor:'#7cd958';
// reset
html,
body {
  padding: 0;
  margin: 0; // font-size: 12px;
  color: #333;
  width: 100%;
  min-width: 1200px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover{
  // color: #7cd958;
}
p {
  margin: 0;
}

// el reset
.el-icon-arrow-down.green_arrow:before {
  background: #7cd958;
  color: #fff;
}

.el-input.footer-search {
  input {
    height: 22px;
    line-height: 22px;
    background: transparent;
    border-radius: 0;
  }
  .el-input__icon {
    line-height: 22px;
  }
}

.el-button.auto-width {
  width: 100%;
}
.my_order{
  .el-tabs__active-bar.is-right{
      height: 0!important;
  }
  .el-tabs__nav-wrap.is-right::after{
      display: none;
  }
}
.aside .el-menu{
  border-right: none;
}
// base
.container {
  width: 1200px;
  margin: 0 auto;
}
.box1000{
  width: 1000px;
  margin: 0 auto;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

// public
.flex_row,
.flex_box {
  display: flex;
  align-items: center;
  .row_ft {}
  .row_bd {
    flex: 1;
  }
}

.flex_box {
  flex-wrap: wrap;
}

.oneHide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moreHide {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.sort_box {
  height: 66px;
  border-bottom: 1px solid #7cd958;
  text-align: center;
}

.sort_type {
  display: inline-block;
  margin: 16px 158px;
  cursor: pointer;
  color: #7d7d7d;
  &.on {
    color: #7cd958;
  }
}

.caret-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 34px;
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative;
}

.sort-caret {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  left: 7px;
}

.sort-caret.ascending {
  border-bottom-color: #c0c4cc;
  top: 5px;
  &.on {
    border-bottom-color: #7cd958;
  }
}

.sort-caret.descending {
  border-top-color: #c0c4cc;
  bottom: 7px;
  &.on {
    border-top-color: #7cd958;
  }
}

// card
.good_card {
  width: 270px;
  font-size: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  &:nth-child(4n) {
    margin-right: 0;
  }
  .good_card-img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
  }
  .good_card-title {
    margin: 10px 0 8px;
  }
  .good_card-price {}
}

.house_card {
  background: #f8f8f8;
  padding: 20px;
  margin-bottom: 30px;
  .house_card-imgWrap {
    width: 155px;
    height: 155px;
    margin-right: 32px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
  }
  .house_card-info {
    height: 155px;
    .house_card-title {
      font-size: 20px;
      color: #000;
      margin-bottom: 16px;
      max-width: 970px;
    }
    .house_card-desc {
      font-size: 17px;
      color: #7d7d7d;
    }
    .house_card-other {
      font-size: 15px;
      display: flex;
      color: #7d7d7d;
      margin-top: 25px;
      .from {
        margin-left: 48px;
        flex: 1;
      }
      .zan {}
      .hr {
        margin: 0 28px;
      }
      .comment {}
    }
  }
}

.club_card {
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 30px;
  height: 206px;
}

.club_card-left {
  width: 50%;
  height: 100%;
  float: left;
  .imgbox {
    width: 206px;
    height: 206px;
    overflow: hidden;
    margin-right: 20px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
  }
  .club_card-info {
    height: 204px;
    padding-right: 20px;
    overflow: hidden;
  }
  .club_card-title {
    font-size: 20px;
    max-width: 352px;
    margin-bottom: 15px;
  }
  .club_card-desc {
    color: #7d7d7d;
    font-size: 15px;
  }
}

.club_card-right {
  width: 50%;
  height: 100%;
  float: right;
  box-sizing: border-box;
  border-left: 1px solid #eee;
  padding-left: 20px;
}

.club_post {
  background: #f8f8f8;
  &:first-of-type {
    margin-bottom: 14px;
  }
  .imgbox {
    width: 96px;
    height: 96px;
    overflow: hidden;
    margin-right: 20px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;  
    }
  }
  .club_post-info {
    padding-right: 20px;
    .club_post-title {
      max-width: 352px;
      margin-right: 6px;
      font-size: 15px;
    }
    .icon_new {
      height: 13px;
      background: url(../icon/icon_new.png) 0 center / 51px 13px no-repeat;
    }
    .club_post-desc {
      margin-top: 10px;
      font-size: 12px;
      color: #7d7d7d;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}
.post_box{
  width: 1000px;
  margin: 0 auto;
}
.post_item{
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 60px 0 20px;
}
.post_other{
  font-size: 15px;
  display: flex;
  color: #7d7d7d;
  margin-top: 25px;
  .from {
    margin-left: 48px;
    flex: 1;
  }
  .zan {}
  .hr {
    margin: 0 28px;
  }
  .comment {}
}
.post_user{
  margin-right: 26px;
  img{
    display: block;
    height: 70px;
    width: 70px;
  }
  .name{
    color: #7d7d7d;
    font-size: 15px;
    text-align: center;
    max-width: 70px;
  }
}
.post_data{
  flex: 1;
}
.post_title{
  font-size: 20px;
  margin-bottom: 10px;
  max-width: 900px;
}
.post_detail{
  background: #f8f8f8;
  color: #7d7d7d;
  padding: 20px;
  display: flex;
  align-items: center;
  .moreHide{
    width: 760px;
  }
  img{
    width: 84px;
    height: 84px;
    margin-right: 20px;
  }
  p{
    font-size: 17px;
  }
  .content{
    font-size: 17px;
    height: 70px;
  }
}
// 商品详情页
.goods_info{
  display: flex;
  padding-top: 70px;
  padding-bottom: 50px;
}
.goods_imgs{
  width: 215px;
  height: 215px;
  overflow: hidden;
  margin-right: 45px;
  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
}
.goods_data{
  flex: 1;
  position: relative;
  .title{
    font-size: 25px;
    margin-bottom: 10px;
  }
  .price{
    font-size: 30px;
    color: #ff4e4e;
  }
  .buyBtn_wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    &>button{
      padding: 10px 30px;
      border-radius: 50px;
    }
  }
}
.saler_info{
  width: 184px;
  border: 1px solid #eee;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  color: #7d7d7d;
  .avatar_wrap{
    width: 80px;
    height: 80px;
    position: relative;
    margin: 30px auto 20px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    i{
      position: absolute;
      bottom: 0;
      right: 2px;
      width: 20px;
      height: 20px;
      background: url(../icon/sex_woman.png) center / 100% no-repeat;
    }
  }
}
.goods_intro{
  color:#7cd958;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}
.goods_content{
  color:#7d7d7d;
  font-size: 20px;
  margin-bottom: 70px;
}
// 帖子详情
.topic_content{
  margin-top: 50px;
  .images{
    display: block;
    margin: 30px auto;
  }
}
.topic_info{
  padding: 60px 0;
}
.topic_header{
  .topic_avatar{
    width: 230px;
    border:1px solid #eee;
    box-sizing: border-box;
    padding: 15px;
    font-size: 17px;
  }
  .topic_avatar_wrap{
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 15px;
    img{
      display: block;
      width: 100%;
    }
  }
  .nickname{
    color: #373737;
    span{
      display: inline-block;
      vertical-align: middle;
      margin-right:4px;
    }
  }
  .icon_sex{
    background:url(../icon/sex_w.png) center / 100% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 16px;
  }
  .school{
    color: #7d7d7d;
  }
  .topic_title{
    font-size: 25px;
    margin: 10px 0;
  }
  .topic_time{
    font-size: 15px;
    color: #7d7d7d;
  }
}

.reply_box{
  text-align: right;
}
.reply_textarea{
  width: 100%;
  display: block;
  padding: 16px;
  box-sizing: border-box;
  height: 110px;
  margin-bottom: 14px;
  border-color: #eee;
}
.topic_btn{
  text-align: right;
  font-size: 15px;
  color: #7d7d7d;
  margin: 60px 0 36px;
  .zan{
    padding-left: 25px;
    background: url(../icon/zan.png) 0 center / 20px 16px no-repeat; 
    cursor: pointer;
  }
  .hr{
    margin: 0 24px;
  }
  .comment{

  }
}

.comment_item{
  background: #f8f8f8;
  padding: 30px 24px;
  margin-bottom: 24px;
  align-items: normal;
  font-size: 17px;
}
.comment_avatar{
  width: 70px;
  height: 70px;
  margin-right: 20px;
  overflow: hidden;
  img{
    display: block;
    width: 100%;
  }
}
.comment_info{
  margin: 10px auto;
  .time{
    color: #7d7d7d;
    font-size: 12px;
    margin-left: 10px;
  }
}
.comment_data{
  padding-right: 40px;
  color: #7d7d7d;
  position: relative;
  .reply_btn{
    color: #7cd958;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
.reply_comment{
  margin-top: 30px;
  border-top: 1px solid #eee;
  padding-top: 20px;
  color: #7d7d7d;
  &>div{
    margin-bottom: 14px;
  }
}
.userInfoBox{
  padding: 30px 0 0;
  text-align: center;
  font-size: 17px;
  color: #7d7d7d;
  .name{
      margin:8px 0;
      color: #000;
  }
  .avatar{
      width: 80px;
      height: 80px;
      margin: 0 auto;
      position: relative;
      img{
          border-radius: 50%;
          display: block;
          width: 80px;
          height: 80px;
      }
      .icon_sex{
          position: absolute;
          bottom: 0;
          right: 2px;
          width: 20px;
          height: 20px;
          background: url(../icon/sex_woman.png) center / 100% no-repeat;
      }
  }
}

.history_item{
  border-bottom: 1px solid #eee;
  padding-bottom: 40px;
  margin-bottom: 40px;
  .goods_info{
      padding: 0 0 30px;
      .goods_imgs{
          width: 150px;
          height: 150px;
          margin-right: 30px;
      }
      .goods_data{
          .title{
              font-size: 20px;
          }
          .desc{
              font-size: 17px;
              color: #7d7d7d;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              word-break: break-all;
              margin: 20px 0;
          }
      }
  }
  .post_item{
    position: relative;
    padding: 0;
    border-bottom: none;
  }
  .post_detail{
    padding: 0;
    background: #fff;
  }
  .post_user {
    margin-right: 30px;
    width: 150px;height: 150px;
    overflow: hidden;
    img{
      width: 100%;
      display: block;
      height: auto;
    }
  }
}
.evaluate_box{
  background: #f9f9f9;
  font-size: 15px;
  padding: 20px;
  position: relative;
  &.evaluate_top:after{
      content: '';
      position: absolute;
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent; 
      border-right: 10px solid transparent; 
      border-bottom: 20px solid #f9f9f9; 
      top: -12px;
      left: 50px;
  }
  .evaluate_rate{
      margin-top: -3px;
  }
  .evaluate_word_row{
      margin-top: 20px;
      align-items: start;
  }
  .evaluate_word{
      font-size: 13px;
      color: #7d7d7d;
  }
}
.nopadding .goods_info{
  padding-bottom: 0;
  position: relative;
}
.publish {
  min-height: 200px;
  .close{
      position: absolute;
      top: 0;
      right: 0;
      background: url(../icon/close.png) center / 100% no-repeat;
      width: 16px;height: 16px;
      cursor: pointer;
  }
  .btn_edit{
      position: absolute;
      bottom: 0;
      right: 0;
      color: #7cd958;
      border-radius: 50px;
      padding-left: 20px;
      background: url(../icon/icon_edit.png) 0 center / 15px 14px no-repeat;
  }
}
.pbbtn_box{
  text-align: right;
  margin-bottom: 30px;
  span{
    background: #7cd958;
    display: inline-block;
    color: #fff;
    border-radius: 30px;
    padding: 0 10px;
    line-height: 30px;
    cursor: pointer;
  }
} 

.pagination {
  text-align: center;
  margin-bottom: 40px;
}