html, body {
  padding: 0;
  margin: 0;
  color: #333;
  width: 100%;
  min-width: 1200px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
  text-decoration: none;
  color: #8c8c8c;
}

p {
  margin: 0;
}

.el-icon-arrow-down.green_arrow:before {
  background: #7cd958;
  color: #fff;
}

.el-input.footer-search input {
  height: 22px;
  line-height: 22px;
  background: transparent;
  border-radius: 0;
}

.el-input.footer-search .el-input__icon {
  line-height: 22px;
}

.el-button.auto-width {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.flex_row, .flex_box {
  display: flex;
  align-items: center;
}

.flex_row .row_bd, .flex_box .row_bd {
  flex: 1;
}

.flex_box {
  flex-wrap: wrap;
}

.oneHide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moreHide {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
